/*Xavi Rubio Monje*/
*{box-sizing:border-box;}
body
{
	background-color: rgba(182, 254, 232, 0.25);
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 125%;
	background-position: top;
}
#circle { 
	margin: auto;
	background: rgb(0, 0, 0);
    border-radius: 50%;
    width: 102px;
    height: 102px;
	align-items: center;
	display: flex;
	justify-content: center;
}
#circle button div{
    background: rgba(11, 92, 116);;
    border-radius: 50%;
    width: 100px;
    height: 100px;
	align-items: center;
	display: flex;
	justify-content: center;
}
#circle button div h1{
   color: #ffffff;
}

form label{
	width:72px;
	font-weight:bold;
	
}
form input[type="email"],
form input[type="text"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}



form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}
#text
{
    width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}
#text2
{
    width:180px;
	padding:3px 10px;
	border:1px solid #dbdbdb;
	border-radius:3px;
	background-color:#dbdbdb;
	margin:8px 0;
	display:inline-block;
}
#textArea2
{
	height: 90px;
    width:180px;
	padding:3px 10px;
	border:1px solid #dbdbdb;
	border-radius:3px;
	background-color:#dbdbdb;
	margin:8px 0;
	display:inline-block;
}
#inputSub
{
    width:100%;
	padding:8px 16px;
	margin-top:16px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#000000;
	background-color:rgba(114, 184, 193, 0.25);
    text-align: center;
}
#gen
{
	display:inline-block;

	margin: auto;
    background-color:rgb(251, 255, 255,0.50);
    width:auto;
    text-align:center;
	
    border-radius:15px;
    border-bottom: 2px solid #424242;
    border-top: 2px solid #424242;
    border-left: 2px solid #424242;
    border-right: 2px solid #424242;
}
#Res
{
    width:100%;
	padding:8px 16px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#043a1a;
	background-color:rgb(11, 116, 43);
    text-align: center;
}
#ResM
{
    width:100%;
	padding:8px 16px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#ffbaba;
	background-color:rgb(116, 11, 11);
    text-align: center;
}
div
{
	text-align:center;
}
/* ------- Input file -------*/
input[type="file"] {
	outline: none;
	padding: 4px;
	margin: -4px;
  }
  
  input[type="file"]:focus-within::file-selector-button,
  input[type="file"]:focus::file-selector-button {
	outline: 2px solid #0964b0;
	outline-offset: 2px;
  }
  
  input[type="file"]::before {
	top: 16px;
  }
  
  input[type="file"]::after {
	top: 14px;
  }
  
  input[type="file"] {
	position: relative;
  }
  
  input[type="file"]::file-selector-button {
	width: 136px;
	color: transparent;
  }
  
  input[type="file"]::before {
	position: absolute;
	pointer-events: none;
	/*   top: 11px; */
	left: 40px;
	color: #0964b0;
	content: "Subir Archivo";
  }
  
  input[type="file"]::after {
	position: absolute;
	pointer-events: none;
	/*   top: 10px; */
	left: 16px;
	height: 20px;
	width:20px;
	content: "";
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
  /* file upload button */
  input[type="file"]::file-selector-button {
	border-radius: 4px;
	padding: 0 16px;
	height: 40px;
	cursor: pointer;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.16);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
	margin-right: 16px;
	transition: background-color 200ms;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
	background-color: #f3f4f6;
  }
  
  /* file upload button active state */
  input[type="file"]::file-selector-button:active {
	background-color: #e5e7eb;
  }
/* ------- Input file -------*/
