/*Xavi Rubio Monje*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#bodyConFoto
{
	background-color: rgb(163, 180, 204);
	background-image: url("shoryuken.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: left;
	font-family: 'Open Sans Condensed', sans-serif;
}

body {
	background: #e9e9e9;
	color: #2e2e2e;
	font-family: 'Open Sans Condensed', sans-serif;
}

.contenidor {
	width: 90%;
	max-width: 1000px;
	margin: auto; 
}

h1 {
	margin: 20px 0;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #1b4a81;
	font-weight: black;
}

.contenidor .articles {
	margin-bottom: 20px;
}

.contenidor .articles ul {
	list-style: none;
}

.contenidor .articles ul li {
	padding:15px 10px;
	border-bottom: 1px solid #c8c8c8;
}

.paginacio ul {
	list-style: none;
}

.paginacio ul li {
	display: inline-block;
	margin-right: 10px; 
}

.paginacio ul .active a {
	background: #2580b4;
}

.paginacio ul .disabled {
	background: #c2bfbf;
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 2px 2px;
	cursor:not-allowed;
	color:#fff;
	text-decoration: none;
}

.paginacio ul li a {
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 10px 20px;
	background: #424242;;
	color:#fff;
	text-decoration: none;
}

.paginacio ul li a:hover {
	text-decoration: none;
	background: #399228;
}
div
{
	text-align:center;
}
#TabCerc
{
	overflow-x: scroll;
	display:inline-block;

	margin: auto;
    background-color:rgba(172, 174, 174, 0);
    width:auto;
    text-align:center;
	
    border-radius:15px;
    border-bottom: 2px solid #424242;
    border-top: 2px solid #424242;
    border-left: 2px solid #424242;
    border-right: 2px solid #424242;

}
#DadCerc
{
	border-radius:5px;
    border: 10px solid #000;
    border-collapse:collapse ;
    margin:auto; 
}
#textArea2
{
	height: 90px;
    width:180px;
	padding:3px 10px;
	border:1px solid #dbdbdb;
	border-radius:3px;
	background-color:#dbdbdb;
	margin:8px 0;
	display:inline-block;
}
.endarrere
{
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 10px 20px;
	background: #424242;;
	color:#fff;
	text-decoration: none;
}
#circle {
	margin-left: 95.4%; 
	background: rgb(0, 0, 0);
    border-radius: 50%;
    width: 78px;
    height: 78px;
	align-items: center;
	display: flex;
	justify-content: center;
}
#circle div{
    background: rgba(11, 92, 116);;
    border-radius: 50%;
    width: 75px;
    height: 75px;
	align-items: center;
	display: flex;
	justify-content: center;
}
#circle div h1{
   color: #ffffff;
}
div #derecha
{
	justify-content: center;

	display: flex;
		vertical-align:top;

}